html(lang="en")
    head
        title Ted's Server
    body
        h1 Ted's Server
        if name
            h2 Hi There!
        else
            form(action='/trackName', method='post')
                label Please enter your name in the text-bar:
                    input(type="text", name='username')
                button(type='submit') Submit