/* Base Layout */

.main-header,
.col {
  display: flex;
}

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.822);
  overflow-x:hidden;
  padding-top:3em;
  transition: 0.5s;
}

.side-nav a{
  text-decoration: none;
  padding: 1em;
  font-size: 20px;
  color: #cccccc;
  display: block;
  transition: 0.3s;
}

.side-nav .btn-close:hover {
  color: #ffffff
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 0.25em;
  font-size: 30px;
}

.nav-list a:hover {
  background-color: #ffffff;
  margin-top: 1em;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container,
.container2{
  flex: 1;
}

.main-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  margin-right: auto;
}

.col{
  flex-direction: column;
}

/* Media Queries */
@media (min-width:0px) {
  .main-header{
    position: sticky;
    top: 0;
    margin-left:0;
    margin-right: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width:500px) {
  .container,
  .container2 {
    max-width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: auto;
  }
}

@media (min-width:800px) {
  .main-header {
    position: unset;    
  }

  .container,
  .container2 {
    max-width: 1200px;
  }
  .nav-bar {
    display: none;
  }
  .main-nav, 
  li,
  li a {
    display:inline-block;
  }
  
  li{
    margin-right: 1em;
  }
}

@media (min-width:1200px) {
  .nav-bar {
    display: none;
  }

  .container,
  .container2 {
    max-width: 1200px;
  }
}