extends layout
block content 
    .login-panel 
        h1 Join Us
        include includes/login-form 
    .register-panel 
        h1 Sign Up Here
        h3 Username has been used
        include includes/register-form