/* Base Layout */

.main-header,
.col {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}

.main-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  margin-right: auto;
}

.col{
  flex-direction: column;
}

/* Media Queries */

@media (min-width:500px) {
  .container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: auto;
  }
}

@media (min-width:800px) {
  .container {
    max-width: 1200px;
  }
  .nav-bar {
    display: none;
  }
  .main-nav, 
  li,
  li a {
    display:inline-block;
  }
  
  li{
    margin-right: 1em;
  }
}

@media (min-width:1200px) {
  .nav-bar {
    display: none;
  }

  .container {
    max-width: 1200px;
  }
}