doctype html
html(lang="en")
html
  head
    title!= title
  body

    form(action='/register', method='post')

      p New User Sign Up
      div
        p Duplicate in User/Email Foud
      p User Name:
      input(type='text',name='username')
      p Email:
      input(type='text',name='email')
      p Password:
      input(type='text',name='password')
      br
      input(type='submit',value='Sign up')